[submodule "KainEngine/vendor/spdlog"]
	path = KainEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "KainEngine/vendor/GLFW"]
	path = KainEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
